
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
  }

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  
  header {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
  } 

  .header-image {
    width: 70%; 
    height: auto; 
  }

  nav a.active {
    font-weight: bold;
    color: #3971b1;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display:inline;
    margin: 0 15px;
    font-size: 20px;
    position: relative;

  }

  nav ul li::before {
    content: ''; 
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    background-image: url('images/bow.png'); 
    background-repeat: no-repeat;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
  }
  

  nav ul li:hover::before {
    opacity: 1; 
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    background-color: #f4a9c5;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px;
  }
  
  .publication {
    text-align: center;
  }
  
  .publication p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .publication img {
    width: 100%;
    height: auto;
    max-width: 450px; 
    max-height: 270px;
    border-radius: 10px;
    box-shadow: 0 14px 16px #f4a9c5b4;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
  }
  
  .publication img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }


@media (max-width: 768px) {
  .about {
    flex-direction: column; 
    text-align: center;
  }

  .about-image img {
    width: 50px;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .gallery {
    grid-template-columns: 1fr; 
}
}

  .sorting {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .sorting label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .sorting select {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }


  .about p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .about {
    text-align: left;
    word-wrap: break-word; 
    display: flex;
    justify-content: space-between; 
    gap: 50px;
  }


  .about-image {
    display: flex;
    justify-content: space-between; 
    gap: 50px;
    flex-direction: row;

  }

  .about-image img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border: 2px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

.about-image {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}

.contact-icons a img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.contact-icons a img:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

  
  
  


  
  